/* GLOBAL TAG  */
:root {
  --slate-color: #434455;
  --navyblue-color: #2e2f42;
  --white-color: #ffffff;
  --ocean-color: #404bbf;
  --iris-color: #4d5ae5;
  --cloud-color: #f4f4fd;
  --cornflower-color: #e7e9fc;
  --light-slate-color: #8e8f99;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* COMMON CLASSES */
.container {
  max-width: 428px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

.titles {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.subtitles {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue-color);
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.social-icons {
  display: flex;
  margin-top: 16px;
}

.icon-box {
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* MAIN */
/* HEADER SECTION*/
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header > .container {
  padding-top: 24px;
  padding-bottom: 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header > .container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header > .container {
    padding-top: 0;
    padding-bottom: 0;

    justify-content: row;
  }
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--navyblue-color);
}

.color-web {
  color: var(--iris-color);
}

@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 76px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-link {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-link {
    display: flex;
    align-items: center;
  }
}

.header-link > li {
  flex-basis: calc((100% - 2 * 40px) / 3);
}

.header-link > li:not(:last-child) {
  margin-right: 40px;
}

.nav-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  position: relative;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.58;
  letter-spacing: 0.02em;
  color: var(--navyblue-color);
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean-color);
}

.nav-link.current {
  color: var(--ocean-color);
}

.nav-link.current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;

  border-radius: 2px;
  background: var(--ocean-color);
}

.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
  }
}

.contacts-list {
  display: block;
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
  }
}

.contacts-list > li:not(:last-child) {
  margin-right: 40px;
}

.contacts-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-top: 24px;
  padding-bottom: 24px;
  text-decoration: none;
  font-style: normal;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

@media screen and (min-width: 1200px) {
  .contacts-link {
    font-size: 16px;
    line-height: 1.58;
  }
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean-color);
}

.header-button {
}

@media screen and (min-width: 768px) {
  .header-button {
    display: none;
  }
}

.burger-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.burger-icon {
  stroke: var(--navyblue-color);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-icon:hover,
.burger-icon:focus {
  stroke: var(--ocean-color);
}

.mobile {
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(100%, -100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  /* max-width: 428px;
  max-height: 796px; */
  padding: 40px;

  background: var(--white-color);
  box-shadow: 0px 2px 1px rgba(46, 49, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.mobile.is-open {
  transform: translate(0, 0);
}

.mobile > .header-button-close {
  top: 40px;
  right: 40px;
}

.mobile .nav-link {
  padding: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}

.header-button-link {
  margin-top: 16px;
}

.header-button-link > li:not(:last-child) {
  margin-bottom: 40px;
}

.header-button-contacts {
  margin-top: 284px;
}

.header-button-contacts .contacts-list {
  display: flex;
  flex-direction: column-reverse;
}

.header-button-contacts li:not(:last-child) {
  margin-top: 40px;
}

.header-button-mail {
  font-size: 20px;
  line-height: 1.2;
  /* margin-left: 40px;   */
}

.header-button-phone {
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--iris-color);
}

.mobile > .social-icons {
  margin-top: 48px;
  flex-wrap: wrap;
}
.mobile .social-icons > li:not(:last-child) {
  margin-right: 56px;
}

.mobile .icon-box {
  background-color: var(--iris-color);
}

.mobile .icon-box:hover,
.mobile .icon-box:focus {
  background-color: var(--ocean-color);
}
/* HERO SECTION */
.hero {
  padding: 188px 0;
  text-align: center;

  background-color: var(--navyblue-color);
}

.hero-bg {
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-bg {
    background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office@2x.jpg);
  }
}

@media (min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .hero-bg {
    background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office@3x.jpg);
  }
}

.hero-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .hero-title {
    margin-bottom: 40px;

    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.hero-button {
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 16px 32px;

  background: var(--iris-color);
  border-radius: 4px;
  border: none;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.58;
  letter-spacing: 0.04em;
  color: var(--white-color);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background: var(--ocean-color);
}
/* FEATURE SECTION */
.features-list {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1199px) {
  .features-list .subtitles {
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
  }
}

.features-list h3 {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features-list h3 {
    text-align: start;
    display: flex;
    flex-wrap: wrap;
  }
}

.features-list > li {
  flex-basis: calc((100% - 24px) / 2);
}

@media screen and (min-width: 1200px) {
  .features-list > li {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}

.features-list > li:not(:last-child) {
  margin-bottom: 72px;
}

.features .icon-box {
  display: none;

  margin-bottom: 8px;
  width: 264px;
  height: 112px;
  background: var(--cloud-color);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .features .icon-box {
    display: flex;
  }
}

/* ACTIVITY SECTION */
.activity {
  display: none;
}

@media screen and (min-width: 1200px) {
  .activity {
    display: block;
    padding-top: 0;
  }
}

.activity .titles {
  margin-bottom: 72px;
}

.activity-list {
  display: flex;
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.activity-list > li:not(:last-child) {
  margin-right: 24px;
}
/* TEAM SECTION */
.team {
  padding-left: 82px;
  padding-right: 82px;

  background-color: var(--cloud-color);
}

.team-list {
  margin-top: 72px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    flex-wrap: nowrap;
  }
}

.team-list > li {
  margin-bottom: 72px;
}

/* @media screen and (min-width: 768px) {
  .team-list > li:not(:nth-child(2n)){
    margin-right: 24px;
  }

  .team-list > li:not(:nth-child(-n+2)){
    margin-bottom: 64px;
  }
} */

.team-item {
  width: 100%;
  max-width: 264px;
  margin-right: auto;
  margin-left: auto;

  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}

.team-item > .subtitles {
  margin-bottom: 8px;
}

.team-item-text {
  /* margin: 32px 16px; */
  padding: 32px 16px;
  text-align: center;
}

.team-item-text > .text {
  margin: 0 auto;
}

.team .icon-box {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--iris-color);
}

.team .icon-box:hover,
.team .icon-box:focus {
  background-color: var(--ocean-color);
}

.team .social-icons {
  width: 100%;
  max-width: 264px;
  margin-top: 8px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .team .social-icons {
    flex-wrap: nowrap;
  }
}
/* 
.team .social-icons > li {
  margin-right: 24px;
} */
/* CUSTOMER SECTION */
.customers {
  width: 100%;
  margin-top: 130px;
  margin-bottom: 120px;
}

.customers a {
  text-decoration-skip-ink: none;
}

.customers-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue-color);
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .customers-list {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  .customers-list > li:not(:last-child) {
    margin-right: 24px;
  }
}

.customers-logo {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 168px;
  height: 88px;
  border: 1px solid var(--slate-color);
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--light-slate-color);
}

.customers-logo:hover,
.customers-logo:focus {
  color: var(--ocean-color);
  border: 1px solid currentColor;
}

.customer-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: block;
  fill: currentColor;
}

.customer-icon:hover,
.customer-icon:focus {
  fill: currentColor;
}
/* FOOTER SECTION*/
.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--navyblue-color);
  letter-spacing: 0.02em;
}

.footer-section {
  margin-right: auto;
  margin-left: auto;
}

.footer-section > div:not(:last-child) {
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .footer-section {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 72px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-section {
    flex-wrap: nowrap;
    column-gap: 0;
  }
}

.footer-company {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-company {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .footer-company {
    margin-right: 120px;
  }
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--cloud-color);
}

.footer .text {
  margin-top: 16px;

  color: var(--cornflower-color);
  width: 264px;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer-socials {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .footer-socials {
    margin-right: 80px;
  }
}

.footer-socials > h2 {
  text-decoration: none;
}

.footer-title {
  width: 100%;
  color: var(--white-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-title {
    text-align: left;
  }
}

.footer .social-icons {
  justify-content: center;
}

.footer .social-icons > li:not(:last-child) {
  margin-right: 16px;
}

.footer .icon-box {
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(255, 255, 255, 0.1);
}

.footer .icon-box:hover,
.footer .icon-box:focus {
  background: #31d0aa;
}

.footer-form {
  width: 100%;
  max-width: 453px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .form {
    flex-direction: row;
    align-items: self-end;
  }
}

.form-field {
  width: 100%;
  height: 40px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: block;
  margin-top: 16px;
  margin-right: 24px;
  padding-left: 16px;

  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: transparent;
  outline: none;
}

@media screen and (min-width: 768px) {
  .form-field {
    width: 264px;
  }
}

.form-field::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-field:focus {
  border-color: var(--iris-color);
}

.form-button {
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 40px;
  margin-top: 16px;
  padding: 8px 24px;
  gap: 16px;

  color: var(--white-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background: var(--iris-color);
  border-radius: 4px;
  border-color: transparent;
}

.form-button:hover,
.form-button:focus {
  background: var(--ocean-color);
  cursor: pointer;
}

/* PORTFOLIO*/
/* FILTER-BUTTON */
.filter {
  display: block;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  /* row-gap: 24px;
  column-gap: 48px; */
}

.filter-list > li:not(:last-child) {
  margin-right: 24px;
}
/* FILTER-CARDS */
.filter-cards {
  display: flex;
  flex-wrap: wrap;
}

.filter-cards a {
  text-decoration: none;
}

.filter-cards > li:not(:nth-child(3n)) {
  margin-right: 24px;
}

.filter-cards > li:not(:nth-last-child(-n + 3)) {
  margin-bottom: 48px;
}

.filter-card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: block;
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.filter-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.filter-card-image {
  position: relative;
  width: 360px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 40px 32px 164px;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--cloud-color);

  background: var(--iris-color);
  background-blend-mode: soft-light;
  mix-blend-mode: normal;
}

.filter-card:hover .overlay {
  transform: translatey(0);
}

.button {
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  align-items: center;
  padding: 12px 24px;
  background: var(--cloud-color);
  border: 1px solid var(--cornflower-color);
  border-radius: 4px;
  color: var(--iris-color);
  cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
  background: var(--ocean-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--white-color);
}
.card-info {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;

  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
/* MODAL WINDOW*/
.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  transform: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  visibility: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close,
.header-button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 24px;
  height: 24px;

  background: var(--cornflower-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-close-vector {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  fill: currentColor;
}

.modal-close:hover,
.modal-close:focus,
.header-button-close:hover,
.header-button-close:focus {
  color: var(--white-color);
  background-color: var(--ocean-color);
  cursor: pointer;
}

.modal-close-vector:hover,
.modal-close-vector:focus {
  fill: currentColor;
}

.modal-title {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navyblue-color);
}

.modal-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-section:not(:last-child) {
  margin-bottom: 8px;
}

.modal-form {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form-title {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--light-slate-color);
}

.modal-form-field {
  position: relative;
  width: 360px;
  height: 40px;
  margin-top: 4px;

  display: block;

  outline: none;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-25%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: var(--navyblue-color);
}

.modal-input {
  width: 360px;
  height: 40px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  align-items: center;
  padding-left: 38px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.modal-input:focus {
  border-color: var(--iris-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--iris-color);
}

.modal-comment {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 360px;
  height: 120px;
  resize: none;

  margin-top: 4px;
  margin-bottom: 16px;
  padding-top: 8px;
  padding-left: 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.modal-comment:focus {
  border-color: var(--iris-color);
}

.form-chekbox {
  position: relative;
  width: 360px;
  height: 16px;
  margin-bottom: 24px;

  display: flex;
  align-items: center;
}

.form-chekbox-icon {
  appearance: none;
}

.chekbox-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;

  fill: none;
  border: 1.25px solid var(--navyblue-color);
  border-radius: 2px;
}

.form-chekbox-icon:checked ~ .chekbox-icon {
  background-color: var(--iris-color);
  border-color: var(--iris-color);
}

.modal-chekbox-text {
  padding-left: 24px;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  color: #757575;
}

.modal-form-button {
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 169px;
  height: 56px;

  color: var(--white-color);
  background: var(--iris-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}

.modal-form-button:hover,
.modal-form-button:focus {
  background: var(--ocean-color);
  cursor: pointer;
}
